body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0e68c; /* Color de fondo más vibrante */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #4a0072; /* Color de fondo más oscuro */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra del header */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold; /* Negrita en los enlaces del menú */
}

nav ul li a:hover {
    color: #ffeb3b; /* Color al pasar el ratón */
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 3em; /* Tamaño de fuente más grande */
}

h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
    color: #4a0072; /* Color del subtítulo */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    max-width: 800px;
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el texto */
    transition: transform 0.3s; /* Animación al interactuar */
}

section:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el ratón */
}

.image-container {
    display: flex;
    justify-content: center; /* Centra las imágenes */
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Opcional: esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la imagen */
    margin: 10px;
    transition: transform 0.3s; /* Animación de escalado */
}

img:hover {
    transform: scale(1.05); /* Escalado al pasar el ratón */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.slide-in {
    transform: translateY(20px);
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.visible {
    opacity: 1; /* Activar la visibilidad */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    background: #4a0072; /* Color de fondo del pie */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    margin-top: 20px; /* Espaciado superior */
}
